.table-roomtype {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
  }
    
  table {
    border: 2px solid forestgreen;
    width: 800px;
    height: 200px;
  }
    
  th {
    border: 1px solid black;
  }
    
  td {
    text-align: center;
    border: 1px solid black;
  }

  .table {
    margin-top: 60px;
    width: inherit;
  }

  .btn-addRoomtype {
    width: 180px;
    border: 1px solid dodgerblue;
    background-color: dodgerblue;
    border-radius: 6px;
    color: white;
    display: flex;
    height: 35px;
    cursor: pointer;
  }

  .btn-addRoomtype:hover {
    opacity: 0.8;
  }

  .icon-addRT {
    margin-top: 4px;
  }


  .btn-edit-roomtype {
    border: 1px solid lime;
    background-color: lime;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    height: 25px;
    display: flex;
    margin-left: 30px;
    margin-bottom: 3px;
  }

  .edit-roomtype {
    margin-top: 5px;
    padding-left: 2px;
  }

  .icon-editRT {
    height: 18px;
  }

  .btn-delete-roomtype {
    border: 1px solid red;
    background-color: red;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    height: 25px;
    display: flex;
    margin-left: 5px;
  }

  .delete-roomtype {
    margin-top: 5px;
    padding-left: 2px;
  }

  .icon-deleteRT {
    height: 18px;
  }

  .display-btnRT {
    display: inline-flex;
  }


