.table-booking {
  width: 100%;
  display: flex;
  justify-content: center; 
  margin-bottom: 50px;
  }
    
  table {
    border: 2px solid forestgreen;
    width: 800px;
    height: 200px;
  }
    
  th {
    border: 1px solid black;
  }
    
  td {
    text-align: center;
    border: 1px solid black;
  }

  .table {
    margin-top: 60px;
    width: inherit;
  }

  .btn-addBooking {
    width: 150px;
    border: 1px solid dodgerblue;
    background-color: dodgerblue;
    border-radius: 6px;
    color: white;
    display: flex;
    height: 35px;
    cursor: pointer;
  }

  .btn-addBooking:hover {
    opacity: 0.8;
  }

  .icon-addB {
    margin-top: 4px;
  }


  .btn-edit-booking {
    border: 1px solid lime;
    background-color: lime;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    height: 25px;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 3px;
  }

  .edit-booking {
    margin-top: 5px;
    padding-left: 2px;
  }

  .icon-editB {
    height: 18px;
  }

  .btn-delete-booking {
    border: 1px solid red;
    background-color: red;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    height: 25px;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
  }

  .delete-booking {
    margin-top: 5px;
    padding-left: 2px;
  }

  .icon-deleteB {
    height: 18px;
  }


  /* edit booking */
  .booking-header {
    background-color: dodgerblue;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
  }
  .booking-title {
    text-align: center;
    margin-bottom: 40px;
    color: whitesmoke;
  }

  .booking-input {
    display: flex;
    justify-content: space-around;
  }

  .booking-name {
    margin-left: 21px;
    border: 1px solid dodgerblue;
    border-radius: 4px;
    height: 30px;
    margin-bottom: 15px;
  }

  .booking-roomtype {
    margin-left: 39px;
    border: 1px solid dodgerblue;
    border-radius: 4px;
    height: 30px;
    margin-bottom: 15px;
  }

  .booking-roomNumbers {
    margin-left: 52px;
    border: 1px solid dodgerblue;
    border-radius: 4px;
    height: 30px;
    margin-bottom: 15px;
  }

  .booking-guestname {
    margin-left: 21px;
    border: 1px solid dodgerblue;
    border-radius: 4px;
    height: 30px;
    margin-bottom: 15px;
  }
  .booking-bookingphone {
    border: 1px solid dodgerblue;
    border-radius: 4px;
    height: 30px;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  .booking-email {
    margin-left: 97px;
    border: 1px solid dodgerblue;
    border-radius: 4px;
    height: 30px;
    margin-bottom: 15px;
  }

  .booking-bookingdate {
    margin-left: 71px;
    border: 1px solid dodgerblue;
    border-radius: 4px;
    height: 30px;
    margin-bottom: 15px;
  }

  .booking-checkindate {
    margin-left: 67px;
    border: 1px solid dodgerblue;
    border-radius: 4px;
    height: 30px;
    margin-bottom: 15px;
  }

  .booking-checkoutdate {
    margin-left: 24px;
    border: 1px solid dodgerblue;
    border-radius: 4px;
    height: 30px;
    margin-bottom: 15px;
  }

  .booking-numadults {
    border: 1px solid dodgerblue;
    border-radius: 4px;
    height: 30px;
    margin-bottom: 15px;
  }

  .booking-numchildren {
    margin-left: 22px;
    border: 1px solid dodgerblue;
    border-radius: 4px;
    height: 30px;
    margin-bottom: 15px;
  }

  .btn-editBooking {
    margin-left: 48%;
    border: 1px solid dodgerblue;
    border-radius: 3px;
    width: 90px;
    height: 30px;
    background-color: dodgerblue;
    color: white;
    cursor: pointer;
  }

  .btn-editBooking:hover {
    opacity: 0.7;
  }

  .form-search-booking {
    margin-left: 35%;
    height: 35px;
    width: 350px;
    border: 1px solid dodgerblue;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .btn-search-booking {
    margin-left: 15px;
    height: 30px;
    border: 1px solid deeppink;
    background-color: #fff;
    color: deeppink;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
    display: flex;
  }

  .btn-reset-bookingNA {
    height: 30px;
    border: 1px solid lawngreen;
    background-color: #fff;
    color: lawngreen;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
  }


  .input-checkin{
    margin-top: 10px;
  }

  .title-approved {
    text-align: center;
    color: cornflowerblue;
  }

  .search-form {
    display: flex;
  }

  .search-title,.reset-title {
    padding-left: 8px;
    margin-top: 7px;
  }

  .choose-booking {
    display: flex;
    margin-left: 35%;
  }

  .select-booking {
    width: 250px;
    height: 30px;
    border: 1px solid dodgerblue;
    border-radius: 5px;
    color: dodgerblue;
    outline: dodgerblue;
  }

  .btn-search-choose {
    margin-left: 15px;
    height: 30px;
    border: 1px solid lawngreen;
    background-color: #fff;
    color: lawngreen;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
    display: flex;
    padding-top: 5px;
  }