.table-room {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
  }
    
  table {
    border: 2px solid forestgreen;
    width: 800px;
    height: 200px;
  }
    
  th {
    border: 1px solid black;
  }
    
  td {
    text-align: center;
    border: 1px solid black;
  }

  .table {
    margin-top: 60px;
    width: inherit;
  }

  /* EditRoom */
  .room {
    margin-top: 30px;
  }

  .room-title {
    padding-left: 75px;
    color: white;
    margin-top: 4px;
    height: 50px;
    text-align: center;
  }

  .title-room {
    background-color: dodgerblue;
    padding-top: 15px;
    padding-bottom: 10px;
  }

  .room-input {
    display: flex;
    justify-content: space-around;
  }

  .room-acreage {
    margin-left: 67px;
    border: 1px solid dodgerblue;
    border-radius: 4px;
    height: 30px;
    margin-bottom: 25px;
    outline: none;
  }

  
  .room-roomtype {
    margin-left: 55px;
    border: 1px solid dodgerblue;
    border-radius: 4px;
    height: 30px;
    margin-bottom: 25px;
    outline: none;
  }

  .room-maxPeople {
    margin-left: 21px;
    border: 1px solid dodgerblue;
    border-radius: 4px;
    height: 30px;
    margin-bottom: 25px;
    outline: none;
  }

  .room-roomprice {
    margin-left: 56px;
    border: 1px solid dodgerblue;
    border-radius: 4px;
    height: 30px;
    margin-bottom: 25px;
    outline: none;
  }

  .room-roomNumbers {
    margin-left: 30px;
    border: 1px solid dodgerblue;
    border-radius: 4px;
    height: 30px;
    margin-bottom: 25px;
    outline: none;
  }

  .room-imgRoom {
    margin-left: 22px;
    border: 1px solid dodgerblue;
    border-radius: 4px;
    height: 30px;
    margin-bottom: 25px;
    outline: none;
  }

  
  .btn-edit {
    margin-left: 48%;
    margin-top: 30px;
    width: 90px;
    height: 35px;
    border: 1px solid dodgerblue;
    border-radius: 5px;
    background-color: dodgerblue;
    color: white;
    cursor: pointer;
  }

  .btn-edit:hover {
    opacity: 0.8;
  }

  input[type=text]:focus {
    border: 1px solid dodgerblue;
  }


  .btn-addRoom {
    width: 150px;
    border: 1px solid dodgerblue;
    background-color: dodgerblue;
    border-radius: 6px;
    color: white;
    display: flex;
    height: 35px;
    cursor: pointer;
  }

  .btn-addRoom:hover {
    opacity: 0.8;
  }

  .icon-addR {
    margin-top: 4px;
  }


  .btn-edit-room {
    border: 1px solid lime;
    background-color: lime;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    height: 25px;
    display: flex;
    margin-left: 5px;
    margin-bottom: 3px;
  }

  .edit-room {
    margin-top: 5px;
    padding-left: 2px;
  }

  .icon-editR {
    height: 18px;
  }

  .btn-delete-room {
    border: 1px solid red;
    background-color: red;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    height: 25px;
    display: flex;
    margin-left: 5px;
  }

  .delete-room {
    margin-top: 5px;
    padding-left: 2px;
  }

  .icon-deleteR {
    height: 18px;
  }

  .display-btn {
    display: inline-flex;
  }

  .img-room {
    width: 100px;
    height: 135px;
  }

