.image {
    width: 200px;
    height: 125px;
}

ul {
    list-style: none;
}

.home-page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.list-home {
    cursor: pointer;
}


.box-rating-home {
    padding-left: 36px;
}

.image {
    border-radius: 4px;
}

li {
    text-align: center;
    padding-bottom: 8px;
}

.homestay-listall {
    border: 0.5px solid dodgerblue;
    border-radius: 5px;
    padding-right: 40px;
    margin-right: 60px;
    margin-bottom: 30px;
}



.sort-filter {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 30px;
}

h3 {
    font-weight: 600;
}

.filter-star {
    padding-left: 55px;
}

.select {
    border: 3px solid #ffb700;
    padding-top: 5px;
}

.btn-sort {
    height: 25px;
    border: 1px solid dodgerblue;
    border-radius: 3px;
    cursor: pointer;
    background-color: #fff;
    color: dodgerblue;
    margin-right: 5px;
}

.select-star  {
    width: 70px;
    height: 25px;
    border: 1px solid dodgerblue;
    border-radius: 5px;
    color: dodgerblue;
    outline: dodgerblue;
}

.checkin {
    border: 3px solid #ffb700;
}

.checkout {
    border: 3px solid #ffb700;
}

/* filter distance */

.filter-distance {
    padding-left: 55px;
}


.select-distance  {
    width: 80px;
    height: 25px;
    border: 1px solid dodgerblue;
    border-radius: 5px;
    color: dodgerblue;
    outline: dodgerblue;
}

/* sort star */
.sort-star {
    
}


.sort-star-ad  {
    width: 80px;
    height: 25px;
    border: 1px solid dodgerblue;
    border-radius: 5px;
    color: dodgerblue;
    outline: dodgerblue;
}


