.image {
    width: 200px;
    height: 125px;
}

ul {
    list-style: none;
}

.home-page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.list-home {
    cursor: pointer;
}


.box-rating {
    padding-left: 36px;
}

.image {
    border-radius: 4px;
}

li {
    text-align: center;
    padding-bottom: 8px;
}

.homestay-listall {
    border: 0.5px solid dodgerblue;
    border-radius: 5px;
    padding-right: 40px;
    margin-right: 60px;
    margin-bottom: 30px;
}

.search-bar {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

#demo-simple-select {
    max-height: 50px;
    width: 150px;
}

.btn-search {
    height: 35px;
    margin-top: 25px;
    margin-right: 20px;
    border: 1px solid dodgerblue;
    border-radius: 5px;
    width: 90px;
    background-color: dodgerblue;
    color: white;
    cursor: pointer;
}

.btn-search:hover {
    opacity: 0.8;
}